* {
    margin: 0;
    border: 0;
    padding: 0;
}

$total-width: 50vw;
$search-box-ratio: 0.85;
$box-height: 5vh;

form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: rows;

    input {
        $padding: 0.5em;
        box-sizing: border-box;
        height: $box-height;
        width: calc($total-width - $box-height);
        padding: $padding;
        outline: none;
    }

    button {
        display: block;
        height: $box-height;
        width: $box-height;
        background-image: url("./search-button.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(87, 126, 255);
    }
}
